*,
*::after
*::before { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{ 
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.container {
    width: 100%;
    max-width: 1220px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}
.header {
    padding: 16px 0;
}
.header__container{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo { 
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header__title{ 
    font-weight:bold;
    text-decoration: none;
    color: #222; 
    margin-left: 16px;
}
.header__title:hover{ 
    color:rgba(222, 46, 84, 1) ; 
}
.header__title:active{ 
    opacity: 0.6; 
}
.header__logo:hover{ 
    color:rgba(222, 46, 84, 1) ; 
}
.header__logo:active{ 
    opacity: 0.6;
}
.header__nav-list {
    display: flex;
    list-style-type: none;
}
.header__nav-list-item {
    margin-right: 32px;
}
.header__nav-list-item:hover{
    color:rgba(222, 46, 84, 1) ; 
}
.header__nav-list-item:active{ 
    opacity: 0.6 ;
}
.header__btn {
    padding: 12px 24px;
    background-color:rgba(222, 46, 84, 1);
    border-radius: 8px;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    letter-spacing: 15.23;
    text-decoration: none;
    display: inline-block;
}
.header__btn:hover{ 
    border: solid rgba(222, 46, 84, 1);
    color: rgba(222, 46, 84, 1);
    background-color: #fff;
}
.header__btn:active{ 
    color: #fff;
    background-color:rgba(222, 46, 84, 1) ;
    opacity: 60%;
}

/* MAIN STYLES */
.main {
    background-color: #fff;
}

/* HERO STYLES */
.hero {
    background-color: #0eb4c1;
    padding: 120px 0;
    color: #fff;
}
.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.hero__title{ 
    font-weight: 700 bold;
    font-size: 36px;
    font-style: bold;
    line-height: 43.2px;
    margin-top: 0;
    margin-bottom: 16px;
}
.hero__text{ 
    margin-top: 0;
    margin-bottom: 36px;
}
.hero__btn {
    padding: 12px 24px;
    background-color:rgba(222, 46, 84, 1);
    border-radius: 4px;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    letter-spacing: 15.23;
    text-decoration: none;
    display: inline-block;
}
.hero__btn:hover{ 
    opacity: 0.8;
}
.hero__btn:active{ 
    opacity: 0.6;
}
.hero__img {
    margin-top: -91px;
    margin-bottom: -120px;
}

/* SERVICES SECTION STYLES */
.services {
    background-color: #fff;
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    margin-top: 0;
    margin-bottom: 56px;
    color: #000;
}
.services__content{ 
    width: 100%;
    max-width: 864px;
}
.services__content-item {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.services__content-img {
    border-radius: 24px;
    display: flex;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
    margin-right: 64px;
    margin-bottom: 80px;
}
.services__content-text-wrapper {
    width: 600px;
}
.services__content-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    margin-top: 0;
    margin-bottom: 24px;
    color: #222;
}
.services__btn {
    padding: 12px 24px;
    background-color:rgba(222, 46, 84, 1);
    border-radius: 8px;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    letter-spacing: 15.23;
    text-decoration: none;
    display: inline-block;
}
.services__btn:hover{ 
    border: solid rgba(222, 46, 84, 1);
    color: rgba(222, 46, 84, 1);
    background-color: #fff;
}
.services__btn:active{ 
    color: #fff;
    background-color:rgba(222, 46, 84, 1) ;
    opacity: 60%;
}

/* REGISTER STYLES */
.register {
    background-color: #0eb4c1;
    padding: 64px 0;
}
* {
    box-sizing: border-box;
}
.register__title {
    font-family: 'Open Sans Condensed','Arial', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 3.2px;
    margin-top: 0;
    margin-bottom: 52px;
    text-align: center;
    color: #fff;
}
.register__btn-wrapper {
    text-align: center;
}
.register__btn {
    font-family: 'Open Sans Condensed','Arial', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 2px;
    margin-top: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #fff;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.register__btn:hover{ 
    border: solid #de2e54;
    background-color: #de2e54;
}
.register__btn:active{ 
    opacity: 60%;
}

/* FOOTER SECTION */

.footer {
    background-color: rgba(34, 34, 34, 1);
    padding: 24px 0;
}
.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}
.footer__title{ 
    margin-left: 16px;
}
.footer__title:hover{ 
    color: #de2e54;
}
.footer__title:active{ 
    color: #fff;
    opacity: 0.6;
}
.footer__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}
.footer__nav-list-item {
    margin-right: 32px;
}
.footer__nav-list-item-a{ 
    text-decoration: none;
    color: #fff;
}
.footer__nav-list-item-a:hover{ 
    color: #de2e54;
}
.footer__nav-list-item-a:active{ 
    color: #fff;
    opacity: 0.6;
}
